#mine-game {
  line-height: 14px;
}

#mine-game span {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  box-shadow: 0 0 0 1px rgba(0,0,0,.4);
}

span.mine-close {
  background: silver;
  border: 2px outset;
}

span.mine-open {
  background: white;
  border: none;
}

span.mine-marked::before {
  content: '雷';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 20px;
}

span.mine-spark {
  background: gold;
}

span.mine-exploded,
span.mine-wrong {
  background: red;
}

#mine-msg {
  min-height: 1em;
  margin: 5px auto;
  padding: 1em;
  background: #eee;
  border-radius: 4px;
}
